{%extends 'base.html'%}

{%block body%}



<h2>All Stellplatz</h2>

<table class="Stellplatz">
  <thead>
    <tr>
      <th scope="col">Kategorie</th>
      <th scope="col">Qualitaet</th>
      <th scope="col">Laenge</th>
      <th scope="col">Breite</th>
      <th scope="col">Hoehe</th>
      
   
    </tr>
  </thead>
  <tbody>

    {% for Stellplatz in Stellplatz %}
    <tr>
        <td>{{stellplatz.stellplatzKategorie}}</td>
        <td>{{stellplatz.stellplatzQualitaet}}</td>
        <td>{{stellplatz.stellplatzLeange}}</td>
        <td>{{stellplatz.stellplatzBreite}}</td>
        <td>{{stellplatz.stellplatzHoehe}}</td>
        
        

        <td>


  </tbody>
</table>

{%endblock%}