{%extends 'base.html'%}

{%block body%}

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <div class="mb-3">
        <label for="AutoId" class="form-label"></label>
        {{form.AutoId(class_="form-control",readonly=True)}}
    </div>

    <div class="mb-3">
        <label for="Kategorie" class="form-label">Kategorie</label>
        {{form.Kategorie(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Kennzeichen" class="form-label">Kennzeichen</label>
        {{form.Kennzeichen(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Laenge" class="form-label">Laenge</label>
        {{form.Laenge(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Breite" class="form-label">Breite</label>
        {{form.Breite(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Hoehe" class="form-label">Hoehe</label>
        {{form.Hoehe(class_="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}