{%extends 'base.html'%}

{%block body%}



<h2>All Auto</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Kategorie</th>
      <th scope="col">Marke</th>
      <th scope="col">Farbe</th>
      <th scope="col">Kennzeichen</th>
      <th scope="col">Laenge</th>
      <th scope="col">Breite</th>
      <th scope="col">Hoehe</th>
    </tr>
  </thead>
  <tbody>

    {% for auto in autos %}
    <tr>
        <td>{{auto.autoKategorie}}</td>
        <td>{{auto.autoMarke}}</td>
        <td>{{auto.autoFarbe}}</td>
        <td>{{auto.autoKennzeichen}}</td>
        <td>{{auto.autoLaenge}}</td>
        <td>{{auto.autoBreite}}</td>
        <td>{{auto.autoHoehe}}</td>
        <td>


  </tbody>
</table>

{%endblock%}